workflow.json
{
  "name": "Content Generation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        64
      ],
      "id": "5f518270-ee1a-44ce-9861-12606a14574c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "http://node-api:3000/category/next",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -608,
        64
      ],
      "id": "c465cfe4-a74e-4e51-b8ed-4a6f6c31493d",
      "name": "Ambil kategori dari list (round robin)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://node-api:3000/generate/content",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "categoryId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        64
      ],
      "id": "7fe94468-05db-4c88-90c1-b519588ec3f6",
      "name": "Generate content by category terpilih"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://node-api:3000/generate/audio",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=test"
            },
            {
              "name": "contentId",
              "value": "={{ $json.data[0].contentId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        176
      ],
      "id": "cb898a3e-2fd6-496c-840c-bad2b04e0004",
      "name": "Membuat TTS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://node-api:3000/generate/image",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('Generate content by category terpilih').item.json.metadata.promptImage }}"
            },
            {
              "name": "contentId",
              "value": "={{ $('Generate content by category terpilih').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        144
      ],
      "id": "c88ef93e-c4a2-41b5-8455-498a365a6bab",
      "name": "Image Generation"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "1e9bb21e-5eb1-4481-958e-5fc14ccc4ff2",
      "name": "Loop 10x untuk generate 10 gambar"
    },
    {
      "parameters": {
        "url": "=http://node-api:3000/media/ {{ $json.contentId }}",
        "options": {}
      },
      "id": "6d322ea8-3e4e-4db2-9e2a-1f384d80c9cf",
      "name": "Get Media List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -800,
        464
      ]
    },
    {
      "parameters": {
        "url": "=http://node-api:3000/media/file/{{ $json.id }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "f6ad8ebb-44c4-4403-9ac9-f97b78779801",
      "name": "Get File Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -64,
        608
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.fileType}}",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "deeaf043-36fc-4edf-b022-bb9291b285e6",
      "name": "IF Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        464,
        448
      ]
    },
    {
      "parameters": {
        "functionCode": "// Rename binary data ke audio\nif ($input.item.binary && $input.item.binary.data) {\n  $input.item.binary = { \n    audio: $input.item.binary.data \n  };\n}\nreturn $input.item;"
      },
      "id": "be6fb9f2-76ed-46f3-aa9d-c02b1da973a6",
      "name": "Set Audio Binary",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        688,
        384
      ]
    },
    {
      "parameters": {
        "functionCode": "// Rename binary data ke images\nif ($input.item.binary && $input.item.binary.data) {\n  $input.item.binary = { \n    images: $input.item.binary.data \n  };\n}\nreturn $input.item;"
      },
      "id": "f4e89802-d1ce-4efa-bdf8-248c8dc324df",
      "name": "Set Image Binary",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        688,
        592
      ]
    },
    {
      "parameters": {},
      "id": "b0346ae7-8e40-4a12-921e-17f7d7acf4f6",
      "name": "Merge All Files",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        864,
        480
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -256,
        464
      ],
      "id": "c698cca0-8991-401d-a6d3-37b6fa3c1c68",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data[0]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -464,
        464
      ],
      "id": "a7a22947-2278-4120-986b-b4f70b4dec48",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-api:3000/create-video",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentId",
              "value": "={{ $json.contentId }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "=audio"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image0"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image2"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image4"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image5"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image6"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image7"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image8"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1168,
        480
      ],
      "id": "f3009f9b-7f2c-42e8-9289-661650e64d29",
      "name": "Create Video API"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input\nconst items = $input.all();\n\n// Wrap dalam object dengan key \"data\"\nreturn [{\n  json: {\n    data: items.map(item => item.json)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        464
      ],
      "id": "2e0b8342-f163-40ce-823d-964285e0648d",
      "name": "Mapping data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Buat binary object dinamis tanpa cek fileType\nconst combinedBinary = {};\n\n// Item pertama = audio, sisanya = images\ncombinedBinary.audio = items[0]?.binary?.data;\n\n// Item sisanya = images (mulai dari index 1)\nfor (let i = 1; i < items.length; i++) {\n  if (items[i]?.binary?.data) {\n    combinedBinary[`image${i-1}`] = items[i].binary.data;\n  }\n}\n\nreturn [{\n  json: {\n    contentId: $input.first().json.json.contentId,\n    totalItems: items.length,\n    binaryKeys: Object.keys(combinedBinary),\n    audioExists: !!combinedBinary.audio,\n    imageCount: Object.keys(combinedBinary).filter(key => key.startsWith('image')).length\n  },\n  binary: combinedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        480
      ],
      "id": "1eee250c-efc2-48e4-a83d-45f6f7a6f105",
      "name": "Mapping asset binary"
    },
    {
      "parameters": {
        "jsCode": "const array = [1,2,3,4,5,6,7,8,9,10];\n\n// Ubah array jadi format item n8n\nreturn array.map(num => ({ json: { number: num } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        64
      ],
      "id": "64b071bc-752a-4c16-89ac-69e361924f07",
      "name": "Jumlah iterasi generate image"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input\nconst allItems = $input.all();\n\n// Buat satu objek untuk menampung semua data\nconst combinedData = {\n  json: {\n    // Gabungkan semua data JSON menjadi sebuah array\n    data: allItems.map(item => item.json)\n  }\n};\n\n// Jika ada data biner, gabungkan juga\nif (allItems.some(item => item.binary)) {\n  combinedData.binary = {};\n  allItems.forEach((item, index) => {\n    if (item.binary) {\n      Object.assign(combinedData.binary, item.binary);\n    }\n  });\n}\n\n// Kembalikan hanya satu item\nreturn [combinedData];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -16
      ],
      "id": "697bcf02-c997-47f4-803c-6fd901e80ac4",
      "name": "Break menjadi satu kali exec"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        -96
      ],
      "id": "0fe5398a-251b-4e13-b34e-4cc15419b151",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Ambil kategori dari list (round robin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil kategori dari list (round robin)": {
      "main": [
        [
          {
            "node": "Generate content by category terpilih",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate content by category terpilih": {
      "main": [
        [
          {
            "node": "Jumlah iterasi generate image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation": {
      "main": [
        [
          {
            "node": "Loop 10x untuk generate 10 gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat TTS": {
      "main": [
        [
          {
            "node": "Get Media List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop 10x untuk generate 10 gambar": {
      "main": [
        [
          {
            "node": "Break menjadi satu kali exec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Media List": {
      "main": [
        [
          {
            "node": "Mapping data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Binary": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio?": {
      "main": [
        [
          {
            "node": "Set Audio Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Image Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Binary": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Binary": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Files": {
      "main": [
        [
          {
            "node": "Mapping asset binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "IF Audio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get File Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping asset binary": {
      "main": [
        [
          {
            "node": "Create Video API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jumlah iterasi generate image": {
      "main": [
        [
          {
            "node": "Loop 10x untuk generate 10 gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Break menjadi satu kali exec": {
      "main": [
        [
          {
            "node": "Membuat TTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7cde4f8-a5d6-4d14-9887-94751e75286b",
  "meta": {
    "instanceId": "7f45404456a23d32e1d19be264a373b11626a964a3359094fb399d172008e93d"
  },
  "id": "o2lghOivAoXmxGy5",
  "tags": []
}