workflow.json
{
  "name": "Content Generation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -340,
        -320
      ],
      "id": "0872d094-bb08-4c85-a2fe-597e9baebf06",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "http://node-api:3000/category/next",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        -320
      ],
      "id": "884a8d15-8471-4c70-afce-1b9dbba5d798",
      "name": "Ambil kategori dari list (round robin)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://node-api:3000/generate/content",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "categoryId",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        20,
        -320
      ],
      "id": "0f38aaeb-8c4b-454c-8314-bb6015cd7fac",
      "name": "Generate content by category terpilih"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://node-api:3000/generate/audio",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('Generate content by category terpilih').item.json.scriptText }}"
            },
            {
              "name": "contentId",
              "value": "={{ $('Generate content by category terpilih').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        980,
        -220
      ],
      "id": "63b76555-ce35-4794-9405-ccb890e6196a",
      "name": "Membuat TTS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://node-api:3000/generate/image",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "={{ $('Generate content by category terpilih').item.json.metadata.promptImage }}"
            },
            {
              "name": "contentId",
              "value": "={{ $('Generate content by category terpilih').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -240
      ],
      "id": "e595ed8d-debb-429d-9453-05b98bdebdb3",
      "name": "Image Generation"
    },
    {
      "parameters": {
        "jsCode": "const array = [1,2,3,4,5,6,7,8,9,10];\n\n// Ubah array jadi format item n8n\nreturn array.map(num => ({ json: { number: num } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        -320
      ],
      "id": "da531345-558e-4372-82e8-1317d013367f",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        440,
        -380
      ],
      "id": "2654672b-ae2a-4a23-a5de-957234c21e85",
      "name": "Loop 10x untuk generate 10 gambar"
    },
    {
      "parameters": {
        "url": "http://node-api:3000/media/6",
        "options": {}
      },
      "id": "5b7ebfac-2b46-4d1b-8f5d-590c8cd8f52f",
      "name": "Get Media List",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -360,
        80
      ]
    },
    {
      "parameters": {
        "url": "=http://node-api:3000/media/file/{{ $json.id }}",
        "responseFormat": "file",
        "options": {}
      },
      "id": "d45a16c2-fa8d-48e7-bb64-e741a705e195",
      "name": "Get File Binary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        380,
        220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.fileType}}",
              "value2": "audio"
            }
          ]
        }
      },
      "id": "58f57c6d-22c3-41ae-b23f-093358f503fd",
      "name": "IF Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        60
      ]
    },
    {
      "parameters": {
        "functionCode": "// Rename binary data ke audio\nif ($input.item.binary && $input.item.binary.data) {\n  $input.item.binary = { \n    audio: $input.item.binary.data \n  };\n}\nreturn $input.item;"
      },
      "id": "b8990f96-9423-4e31-8a19-140df7c0c5bf",
      "name": "Set Audio Binary",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        700,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "// Rename binary data ke images\nif ($input.item.binary && $input.item.binary.data) {\n  $input.item.binary = { \n    images: $input.item.binary.data \n  };\n}\nreturn $input.item;"
      },
      "id": "842ed4eb-2cee-405f-bca8-be33f3b52324",
      "name": "Set Image Binary",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {},
      "id": "ad0c686d-62c6-4e73-9ffb-2873deaf2fcd",
      "name": "Merge All Files",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        880,
        100
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        180,
        80
      ],
      "id": "36b9d45b-b0d3-4f50-b9e0-999857d8dc55",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data[0]",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -20,
        80
      ],
      "id": "d10c29ce-2f88-4d06-97fa-78eca298e590",
      "name": "Split Out"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video-api:3000/create-video",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "contentId",
              "value": "={{ $json.contentId }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "audio",
              "inputDataFieldName": "=audio"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image0"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image1"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image2"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image3"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image4"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image5"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image6"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image7"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image8"
            },
            {
              "parameterType": "formBinaryData",
              "name": "images",
              "inputDataFieldName": "image9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        100
      ],
      "id": "1aabc28e-dddb-4374-9deb-884af2f696b0",
      "name": "Create Video API"
    },
    {
      "parameters": {
        "jsCode": "// Ambil semua item dari input\nconst items = $input.all();\n\n// Wrap dalam object dengan key \"data\"\nreturn [{\n  json: {\n    data: items.map(item => item.json)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        80
      ],
      "id": "0fd54a0b-9283-4876-a894-5d3900cd5701",
      "name": "Mapping data"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Buat binary object dinamis tanpa cek fileType\nconst combinedBinary = {};\n\n// Item pertama = audio, sisanya = images\ncombinedBinary.audio = items[0]?.binary?.data;\n\n// Item sisanya = images (mulai dari index 1)\nfor (let i = 1; i < items.length; i++) {\n  if (items[i]?.binary?.data) {\n    combinedBinary[`image${i-1}`] = items[i].binary.data;\n  }\n}\n\nreturn [{\n  json: {\n    contentId: items[0]?.json?.contentId || 6,\n    totalItems: items.length,\n    binaryKeys: Object.keys(combinedBinary),\n    audioExists: !!combinedBinary.audio,\n    imageCount: Object.keys(combinedBinary).filter(key => key.startsWith('image')).length\n  },\n  binary: combinedBinary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1020,
        100
      ],
      "id": "73bfbc4c-6a9d-4f05-8194-6d27e692826d",
      "name": "Mapping asset binary"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Ambil kategori dari list (round robin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambil kategori dari list (round robin)": {
      "main": [
        [
          {
            "node": "Generate content by category terpilih",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate content by category terpilih": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Generation": {
      "main": [
        [
          {
            "node": "Loop 10x untuk generate 10 gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop 10x untuk generate 10 gambar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Membuat TTS": {
      "main": [
        [
          {
            "node": "Get Media List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop 10x untuk generate 10 gambar": {
      "main": [
        [
          {
            "node": "Membuat TTS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Media List": {
      "main": [
        [
          {
            "node": "Mapping data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File Binary": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Audio?": {
      "main": [
        [
          {
            "node": "Set Audio Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Image Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Audio Binary": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image Binary": {
      "main": [
        [
          {
            "node": "Merge All Files",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Files": {
      "main": [
        [
          {
            "node": "Mapping asset binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "IF Audio?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get File Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping data": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping asset binary": {
      "main": [
        [
          {
            "node": "Create Video API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cffe8f9a-800b-4b9f-b79e-17083d3d37e5",
  "meta": {
    "instanceId": "7b4602c3df5575f630d06a072bcb08694375982314c64f2f332a24fd0e436c42"
  },
  "id": "h5lrHkSkobb5C4HY",
  "tags": []
}